<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css" />
  <title>Home Page</title>
</head>

<body>
  <%- include('./partials/_navbar.ejs') %>
  <h1>Image Board</h1>
  <form action="search" method="GET">
    <input name="tags" type="text" placeholder="Search e.g.: Trees">
    <input name="commit" type="submit" value="Search">
  </form>
  <div class="image-grid">
    <% images.forEach(image => { %>
      <div class="image">
        <a href="/users/<%= image.uploader %>/posts/<%= image._id %>">
          <img src="<%= image.url %>" alt="<%= image.title %>" >
        </a>
      </div>
    <% }); %>
  </div>
</body>

</html>