<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css" />
  <title>User Posts</title>
</head>

<body>
  <%- include('../partials/_navbar.ejs') %>
  <div class="margin">
    <button onclick="history.back()"><< Go Back</button>
    <% if (verified) { %>
      <a class="link-button" href="/users/<%= user._id %>/new"><button>Upload Post</button></a>
    <% } %>
    <h1><%= username %> Posts</h1>
  </div>
  <div class="image-grid margin">
    <% images.forEach(image => { %>
    <div class="image">
      <a href="/posts/<%= image.uploader %>/<%= image._id %>">
        <img src="<%= image.url %>" alt="<%= image.title %>">
      </a>
    </div>
    <% }); %>
  </div>
</body>

</html>